.formContainer {
  max-width: 565px;
  margin: 0 auto;
  display: flex;
  align-items: safe center;
  min-height: calc(100% - 65px);

  @media (max-width: 767px) {
    text-align: center;
  }
}

.formHolder {
  width: 100%;
  margin: auto;
}

.headingOne {
  font-size: 36px !important;
  color: #000 !important;
  margin: 0 0 50px !important;

  @media (max-width: 1023px) {
    font-size: 28px !important;
  }

  @media (max-width: 767px) {
    font-size: 22px !important;
  }

  span {
    @media (max-width: 767px) {
      display: block;
      font-weight: 400;
      color: #666;
      padding: 0 0 5px;
    }
  }
}

.formLabel {
  color: #101115 !important;
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 25px;
  display: block;
  font-weight: 500;
}

.socialNetworks {
  list-style: none;
  padding: 0;
  margin: 0 -20px 50px;
  display: flex;
  display: none;

  @media (max-width: 767px) {
    justify-content: center;
  }

  li {
    padding: 0 20px;
  }

  .socialButton {
    background: none;
    border: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    color: #aeaeae;

    &:hover {
      color: #40a9ff;
    }

    > * {
      font-size: 34px;
    }
  }
}

.userEmailWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 35px;

  @media (max-width: 767px) {
    justify-content: center;
  }

  .userEmail {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    font-weight: 500;
    margin: 0;

    @media (max-width: 767px) {
      width: auto;
    }

    .userVerifyIcon{
      margin: 0 0 0 10px;
    }
  }

  .userEmailIcon {
    font-size: 24px;
    line-height: 0;
    display: block;
    margin: 0 10px 0 0;
    color: #aeaeae;
  }

  .emailEditButton {
    &:hover,
    &:focus {
      background: transparent;
    }

    > * {
      font-size: 24px;
      line-height: 1;
      color: #aeaeae;

      &:hover {
        color: #40a9ff;
      }
    }
  }
}
